<!DOCTYPE html>
<!-- Victoria Bill and Steve Rutherford -->
{% autoescape true %}
<html lang="en-us">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script> 
	<script type="text/javascript" src="/js/lightbox.min.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
	<!--<link rel="stylesheet" href="/css/screen.css" /> -->
	<link rel="stylesheet" href="/css/lightbox.css" /> 
	<!-- Bootstrap styles, makes the buttons nice, just copy that into my css? don't like other elements... -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" href="/css/jquery.fileupload.css">
	<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">
	<link rel="stylesheet" href="/stylesheets/main.css" />
</head>
  <body>
	<header>
		<h2>Connex.us</h2>
	</header>
	
	<nav>
		<h3><a href="/manage">Manage</a> | <a href="/create">Create</a> | <a href="/viewall">View</a> | <a href="/search">Search</a> | <a href="/trending">Trending</a> | <a href="/social">Social</a> </h3>
	</nav>

	<h3>Top 3 Trending Streams</h3>
	</br>
	{% if streams %}
	{% for stream in streams %}
		<div id="img-box">
    	<b><a href="/viewsingle/{{ stream }}">{{ stream }}</a></b></br>
			<img class="thumb" src="{{ streams[stream][stream]['cover'][0] }}"></br>
			<p>{{ streams[stream][stream]['recent'] }} views</br>in past hour</p>
		</div>
	{% endfor %}
	{% endif %}

	<form action="/uptrend" method="post">
		<input type="radio" name="trending" value="no_reports">
		No reports</br>
		<input type="radio" name="trending" value="5mins">
		Every 5 minutes</br>
		<input type="radio" name="trending" value="hour">
		Every 1 hour</br>
		<input type="radio" name="trending" value="day">
		Every day</br></br>
		Update rate for email trending report</br></br>
		<input type="submit" value="Update rate">
	</form>

	<footer>
		</br>
		<hr>
		<p>&copy; Victoria Bill and Steve Rutherford</p>

		<a href="{{ url|safe }}">{{ url_linktext }}</a> 
	</footer>


	</body>
</html>
{% endautoescape %}
